﻿absl-py
asttokens
astunparse
decorator
fastapi
fonttools
gspread
gspread-formatting
h11
httplib2
idna
ipykernel
ipython
joblib
jupyter_client
jupyter_core
keras
matplotlib
matplotlib-inline
ml-dtypes
numpy
pandas
scikit-learn
seaborn
typing_extensions
urllib3
uvicorn
wordcloud
